{% include header.html %}

<div class="container ">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            <div class="article">
                <div class="well">
                    <h1>{{ page.title }}</h1>
                    <strong>Date:</strong> {{ page.date }}<br />
                    <p><strong>Status:</strong> {% if page.ongoing %} in progress {% else %} completed {% endif %}<br/>
                    {% if page.proj_page.size > 0 %}
                    <strong>URL: </strong><a href="{{ page.proj_page }}" target="_blank">{{ page.proj_page }}</a>
                    {% endif %}
                    </p>
                    <div class="post-content">
                    	<hr />
                        {{ content }}
                    </div>
                </div>
            </div>
            
            {% for post in site.categories[page.proj_id] limit: 3 %}
                <div class="article excerpt">
                    <div class="well">
                        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
                        <div style="margin-bottom:1rem" class="content">
                            {{ post.excerpt | markdownify}}
                        </div>
                        <a href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
                    </div>
                </div>    
            {% endfor %}
            
            {% if site.categories[page.proj_id].size > 3 %}
                <a href="{{ site.baseurl }}/projects/{{ page.proj_id }}/archive/">See all project entries...</a>
            {% endif %}
        </div>
    </div>
</div>

{% include footer.html %}
